---
layout: page
title: "{{ page.name }}"
permalink: "/team/{{ page.slug }}/"
---

<div class="person-layout">
  <div class="grid">
    <!-- Left Side: Photograph -->
    <div class="col-main">
      <div class="person-layout__left">
        <img class="person-layout__photo" src="{{ page.photo }}" alt="{{ page.name }}'s Photo">
      </div>
    </div>

    <!-- Right Side: Name, Title, Biography, and Links -->
    <div class="col-aside">
      <div class="person-layout__right">
        <h1>{{ page.name }}</h1>
        <h2>{{ page.title }}</h2>
        <p>{{ page.bio }}</p>

        <h3>Personal Links</h3>
        <ul>
          {% for link in page.links %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
