---
layout: page
type: person
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <!-- Person's Info Section -->
  <div class="person__content">
    <div class="person-layout">
      <div class="person-layout__left">
        <img class="person-layout__photo" src="{{ page.photo }}" alt="{{ page.person_name }}'s Photo">
      </div>
      <div class="person-layout__right">
        <h1 class="person-name">{{ page.person_name }}</h1>
        <h2 class="person-title">{{ page.title }}</h2> <!-- Title size is smaller -->
        <p>{{ page.bio }}</p>
        
        <div class="personal-links-container">
          <h3>Personal Links</h3>
          <ul class="personal-links">
            {% for link in page.links %}
              <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- End Person's Info Section -->
  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>

